Button {
	-fx-background-color: white;
	-fx-border-color: black;
}

Button:hover {
	-fx-background-color: lightgray;
}

Button:pressed {
	-fx-background-color: gray;
	-fx-border-color: gray;
}

TextField {
	-fx-background-color: white;
	-fx-border-color: rgb(100, 100, 255);
}

TextField:focused {
	-fx-border-color: rgb(70, 130, 200);
}

TableView {
	-fx-background-color: white;
	-fx-border-color: black;
}

ChoiceBox {
	-fx-background-color: white;
	-fx-border-color: black;
}

ChoiceBox:hover {
	-fx-background-color: lightgray;
}

ChoiceBox:pressed {
	-fx-background-color: gray;
	-fx-border-color: gray;
}

StackPane {
	-fx-background-color: white;
}
